<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: header"></nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <th:block>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
        </tr>
    </th:block>

</table>

</body>
</html>