<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: header"></nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
        </tr>
    </thead>
    <th:block>
        <tr th:each="category : ${categories}">
            <td><a th:text="${category.name}" th:href="'/events?categoryId=' + ${category.id}"></a></td>
        </tr>
    </th:block>

</table>

</body>
</html>